p {
  border: solid 1px #ddd;
  padding: 10px;
  overflow: hidden;
}
p span.shape {
  width: 100px;
  height: 100px;
  float: left;
  padding: 30px;
  background: red;
  margin: 30px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  shape-outside: polygon(50% 0, 100% 100%, 0 100%);
  shape-outside: url(##);
}
